<div class="footer-margin"></div>
<div class="footer">
	<div class="footer-t">
		<p class="footer-t1">
			<a href="#">友情链接</a>
			<span>|</span>
			<a href="#">服务条款</a>
			<span>|</span>
			<a href="#">隐私政策</a>
			<span>|</span>
			<a href="#">版权声明</a>
			<span>|</span>
			<a href="#">关于我们</a>
		</p>
		<p class="footer-t2">
			<span>主办单位：XXX人民政府</span>
			<span>承办单位：XXX经济和信息化委员会</span>
			<span>技术支持：九次方大数据信息集团有限公司</span>
		</p>
	</div>
	<div class="footer-b">备案编号：XXXXXXXXXXXXX&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建议使用1920X1080分辨率  IE9.0以上版本浏览器</div>
</div>