<div class="header">
	<div class="wapper cf">
		<div class="head-logo">
			<p class="head-logo-t">政务数据开放平台</p>
			<p class="head-logo-b">Open Goverment Data Platform</p>
		</div>
		<div class="head-login">
			<a href="javascript:;" class="head-login-txt">登录</a>
			<span>/</span>
			<a href="../user/register.html">注册</a>
			<div class="head-login-dis">
                <em class="jiantou"></em>
                <h2>登录</h2>
                <div class="head-login-input">
                    <span>用户名：</span>
                    <input id="userName" type="text" name="" placeholder="请输入您的用户名">
                </div>
                <div class="head-login-input">
                    <span>密　码：</span>
                    <input id="passWord" type="password" name="" placeholder="请输入您的密码">
                </div>
                <div class="head-login-input2">
                    <input id="verification" type="text" name="" onkeyup="keyLogin()">
                    <img id="verification-img">
                    <i class="iconfont icon-shuaxin" onclick="User.loginVef()"></i>
                </div>
                <div class="head-login-btn"><input type="button" name="" value="登录" id="btnSubmit" onclick="User.loginConfirm()"></div>
                <div class="login-erroy"></div>
            </div>
		</div>
		<div class="head-user"><a href="../user/info.html" class="head-username"></a> / <a href="javascript:;" onclick="User.signOut()">退出登录</a></div>
		<ul class="nav">
			<li class="index"><a href="../index/index.html">首页</a></li>
			<li class="catalog ding-yi-yi-ge-class"><a href="../catalog/index.html">资源目录</a></li>
			<li class="statistics ding-yi-yi-ge-class"><a href="../statistics/index.html">开放统计</a></li>
			<li class="helpexchange"><a href="../helpexchange/index.html">互助交流</a></li>
		</ul>
	</div>
</div>